nav {
    box-shadow: 1px 1px 5px #d4d4d4;
}

h4 {
    font-size: 1rem;
}

p {
    margin-bottom: 1em;
}

/* ABOUT ME */
.about-me-intro {
    display: flex;
    flex-direction: column;
    margin: 4.5em 0 1.5em;
}

.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2em;
}

.about-me-body {
    margin-bottom: 3em;
}

.recent-post-title {
    text-align: center;
}


/***** MEDIA QUERIES  *****/

@media (max-width:380px) {
    .about-me-intro {
        margin-top: 6.5em;
    }
}


@media (min-width: 600px) {
    .about-me-intro {
        flex-direction: row;
        align-items: center;
        margin-bottom: 3.5em;
    }
    .about-me-body {
        padding: 0 3em;
    }

    .about-me-title {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.3rem;
    }


}

@media (min-width: 1000px) {
    .about-me-body {
        padding: 0 5em;
    }
}

@media (min-width: 1400px) {
    .about-me-body {
        padding: 0 6em;
    }

}