*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #090909;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    line-height: 1.3;
    font-size: 1rem;
    margin: 0;
}

img {
    width: 100%;
}


/****** HEADER SECTION ******/


/* Nav bar */
nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5em;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.1rem;
    margin: 0;
}

.icon {
    width: auto;
    margin-right: .5em;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.nav-link {
    color: #090909;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 700;
}

.nav-link:first-child {
    margin-right: 1em;
}


/* Featured main post */

.featured-post {
    color: #fff;
    padding: 7em 1.5em 2em;
    background-color: #090909;
    background-image: url(../images/article-image-hero.png);
    background-size: cover;
}

.featured-title {
    margin: .2em 0;
}





/***** MAIN SECTION *****/

main {
    padding: 1.5em;
}





/***** FOOTER  *****/

footer {
    background-color: #202020;
    color: #D7D7D7;
    font-size: .75rem;
    text-align: center;
    padding: 3em 0;
}

.footer-name {
    color: #ECECEC;
    font-weight: 700;
    margin-bottom: .3em;
}



/***** General styles *****/

.date {
    font-size: .75rem;
    text-transform: uppercase;
}





/***** MEDIA QUERIES  *****/

@media (max-width:359px){
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-left: 0;
        margin-top: 1em;
    }
}